<%- include("partials/header"); -%>
<h1 style="text-align: center;">Compose </h1>
<p>
<form action="/compose" method="POST">
    <div class="form-group">
        <label for="heading"> Title </label>
        <input id="heading" type="text" class="form-control" name="postTitle">
        <br>
        <label for="content">Post</label>
        <textarea id="content" class="form-control" name="postBody" rows="5" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">
        Publish
    </button>
</form>

</p>
<%- include("partials/footer"); -%>